.text-bg-dark {
    color: black!important;
    background-color: white !important;
   
}


.card{
    margin-top: 3rem;
    margin-bottom: 3rem;
   
  
}
/* body{
    background: rgb(250, 248, 248);
    
} */
.breadcrumb a{
    text-decoration: none;
    color:rgba(33, 37, 41, 0.75);
}
.breadcrumb a:hover{
  
    color: rgb(222, 38, 38);
   
}
/* .breadcrumb{
    margin: 0.5rem;
} */

/* .card-img-overlay{
    position: relative;
    
} */

.card-img-overlay a{
    text-decoration: none;
    color: rgb(218, 155, 77);
    font-size: 1.4rem;
    line-height: 600px;
  
   
}
.card-img-overlay p{
 
    float: right;

}
.card-img-overlay a:hover{
    /* color:rgb(126, 126, 126); */
    color: red;
   
}

.lx{
    width: 80%;
    margin: 0 auto;
    border: solid 2px rgb(157, 22, 22);
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    padding-top: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
   
   
}

.wenzi p{
    flex: 100%;
    font-size: 1.8vw;
    font-weight: 700;
    margin-bottom: 3vw;
   
}

.shaomaa{
    width: 18%;
}
.center img{
   width: 100%;
    height:auto;
    margin-top: 1vw;
   
}
.shaomaa p{
    text-align: center;
    margin: 0.5rem;
    font-size: 1.2vw;
  
 
}
.yemian{
    margin: 5vw 0;
   
}



/* body{
    background-color: aquamarine;
} */

/* .row div{
    background-color: antiquewhite;
} */
.row img{
    max-width: 95%;
    height: auto;
}
.content .row h4{
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1vw;
    
    
}

.px h3{
    font-size: 2.5vw;
}

.ix li{
    font-size: 1.75vw;
    margin-bottom: 1vw;
}
.px p{
    font-size: 1.6vw;
    color: rgba(37, 36, 36, 0.721);
}
.px {
    width: 80%;
    margin: 0 auto;
    border: solid 2px rgb(157, 22, 22);
    margin-top: 1vw;
    display: flex
;
    justify-content: space-between;
    /* text-align: center; */
    padding-top: 1.5rem;
    /* flex-wrap: wrap; */
    margin-bottom: 2rem;
    text-align: center;
}

 ul {
    padding-left: 1rem;
}
ul {
    padding-right: 1rem;
}
.ix {
    width: 80%;
    margin: 0 auto;
    border: solid 2px rgb(157, 22, 22);
    margin-top: 1vw;
    display: flex
;
    justify-content: space-between;
    /* text-align: center; */
    padding-top: 1.5rem;
    /* flex-wrap: wrap; */
    margin-bottom: 2rem;
   
}
/* 点击放大 */


 /* 图片样式 */
 .zoomable-image {
    max-width: 100%;
    
    height: auto;
   
    cursor: pointer;
  }

  /* 模态框样式 */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* margin: 0 auto; */
    left: 0;
    top: 0;
   
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(147, 142, 142, 0.9);
  }

  .modal-content {
    margin: 0 auto;
    display: block;
    width: 80%;
    max-width: 700px;
    
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: rgb(75, 71, 71);
    text-decoration: none;
    cursor: pointer;
  }


  @media screen and (max-width: 768px) {
    .modal-content {
        margin: 0 auto;
        display: block;
        width: 70%;
       
        margin-top: 50%;
    }
}
  /* 新增了解更多样式 */
  .yemian {
    position: relative;
   
}
.yemian .know-more {
    position: absolute;
    bottom: 1vw;
    right: 2vw;
    background-color: rgba(160, 150, 150, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 2vw;
}
.yemian .know-more:hover{
  color: black;
}


/* <!-- 在页面底部添加回到顶部按钮 --> */
.btn {
    position: fixed;
     bottom: 10px; 
     right: 0; 
     display: none;
     font-size: 2vw;
     border-radius: 20px;
     
}
/* .all{
    width: 100%;
    
  
    background-image: url("../img/01.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 60%;
} */